.root {
  background-color:#f35588;
  color:white;
  padding:30px;
  margin-bottom:30px;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
}

.brand {
  cursor:pointer;
  font-size:20px;
  display: inline-block;
}